@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&display=swap');
@import "tailwindcss";

@layer base {
  img {
    width: 100%;
  }
  .section {
    @apply container mx-auto py-[8rem] px-6;
  }
}
@theme {
  --font-BeVietnamPro: "Be Vietnam Pro", sans-serif;
  --color-grey: #e0e5e9;
  --color-darkGrey: #9d9da1;
  --color-lightBlack: #262626;
  --color-cerulean: #0295db;  
  --color-glass: rgba(255, 255, 255, 0.45);
  --color-transparentBlack: rgba(0, 0, 0, 0.7);
  --breakpoint-ss: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1099px;

}